<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="templates" type="Sitecore.InstallAssistant.Infrastructure.Configuration.TemplatesConfigurationSection, Sitecore.InstallAssistant.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <templates>
    <template name="XPSingle" path=".\XP0-SingleDeveloper.json">
      <parameter name="Prefix" type="text" groupName="Sitecore"/>
      <parameter name="SitecoreAdminPassword" type="password" groupName="Sitecore"/>
      <parameter name="LicenseFile" type="filePath" groupName="Sitecore"/>
      <parameter name="SqlServer" type="text" groupName="Sql" value="(local)"/>
      <parameter name="SqlAdminUser" type="text" groupName="Sql" value="sa"/>
      <parameter name="SqlAdminPassword" type="password" groupName="Sql"/>
      <parameter name="SolrUrl" type="text" groupName="Solr" value="https://localhost:8983/solr"/>
      <parameter name="SolrRoot" type="text" groupName="Solr" value="C:\Solr-7.5.0"/>
      <parameter name="SolrService" type="text" groupName="Solr" value="Solr-7.5.0"/>
      <parameter name="IdentityServerPackage" value=".\Sitecore.IdentityServer * rev. * (OnPrem)_identityserver.scwdp.zip"/>
      <parameter name="SitecorePackage" value=".\Sitecore * rev. * (OnPrem)_single.scwdp.zip"/>
      <parameter name="XConnectPackage" value=".\Sitecore * rev. * (OnPrem)_xp0xconnect.scwdp.zip"/>
      <parameter name="IdentityServerSiteName" value="{Prefix}.identityserver"/>
      <parameter name="SitecoreSiteName" value="{Prefix}.sc"/>
      <parameter name="XConnectSiteName" value="{Prefix}.xconnect"/>
      <parameter name="IdentityServerCertificateName" value="dev.{Prefix}.local.client.identityserver"/>
      <parameter name="XConnectCertificateName" value="dev.{Prefix}.local.client.xconnect"/>
      <parameter name="SitecoreIdentityAuthority" value="https://identityserver.dev.{Prefix}.local"/>
      <parameter name="XConnectCollectionService" value="https://xconnect.dev.{Prefix}.local"/>
      <parameter name="PasswordRecoveryUrl" value="https://dev.{Prefix}.local"/>
      <parameter name="AllowedCorsOrigins" value="http://dev.{Prefix}.local|https://dev.{Prefix}.local"/>
    </template>
  </templates>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--
          Specifies SIF PowerShell module version that is used to deploy Sitecore.
          If specified module version is not installed on your machine,
          choose to install prerequisites on Prerequisites page to be able to deploy Sitecore.
          Default value: 2.1.0
    -->
    <add key="SifModuleRequiredVersion" value="2.1.0" />

    <!--
          Specifies PowerShell repository to install SIF PowerShell module from.
          If you choose to install prerequisites on the Prerequisites page,
          the specified PowerShell repository will be registered only in the
          case where it isn't registered already and removed after SIF module installation.
          Default value: https://sitecore.myget.org/F/sc-powershell/api/v2
    -->
    <add key="SifModulePsRepository" value="https://sitecore.myget.org/F/sc-powershell/api/v2" />

    <!--
          Specifies SIF template from templates configuration section
          that will be used to deploy Sitecore.
          Default value: XPSingle
    -->
    <add key="TemplateToDeploy" value="XPSingle"/>

    <!--
          Specifies SIF template path
          that will be used to install SIF PowerShell module prerequisites.
          Default value: .\Prerequisites.json
    -->
    <add key="PrerequisitesTemplatePath" value=".\Prerequisites.json"/>

    <!--
        Specifies a folder to store Install Assistant logs.
    -->
    <add key="LogFolder" value="%USERPROFILE%\Sitecore.InstallAssistant"/>
  </appSettings>
</configuration>
